body {
    margin: 0!important;
    max-width: 100%;
}

.navbar-box {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

@media print {
    .navbar, .drawer-button {
        display: none;
    }
}