{% extends "layout.html" %}
{% load humanize %}

{% block title %}
View Order
{% endblock  %}

{% block content %}

<div class="m-4">
    <h1 class="text-2xl font-bold mb-4">Order Details: {{order.id}}</h1>
    <div class="divider"></div>

    <table>
        <tr>
            <th style="text-align: left;">Order ID</th>
            <td>{{ order.id }}</td>
        </tr>
        <tr>
            <th style="text-align: left;">Date</th>
            <td>{{ order.created_at }}</td>
        </tr>
        <tr>
            <th style="text-align: left;">Name</th>
            <td>{{ order.name }}</td>
        </tr>
        <tr>
            <th style="text-align: left;">Amount</th>
            <td>{{ order.amount|intcomma }}</td>
        </tr>
        <tr>
            <th style="text-align: left;">Commission</th>
            <td>{{ order.commission }}</td>
        </tr>
        <tr>
            <th style="text-align: left;">Account Number</th>
            <td>{{ order.account_number }}</td>
        </tr>

        <tr>
            <th style="text-align: left;">Order Type</th>
            <td>{{ order.order_type }}</td>
        </tr>

    </table>

    <div class="divider"></div>

    <h1 class="text-2xl font-bold mb-4">Sender Details: {{order.credit_bank_account.account_holder_name}} | {{order.credit_bank_account.account_number}}</h1>

    <div class="divider"></div>

    {% if order.agent == request.user %}
    <a href="{% url 'update-order' order.id %}" class="btn btn-success">Edit</a>

    <button class="btn btn-error" onclick="delete_modal.showModal()">Delete</button>
    {% endif %}

    <dialog id="delete_modal" class="modal sm:modal-middle">
        <div class="modal-box">
          <h3 class="text-lg text-warning font-bold">Warning!</h3>
          <p class="py-4">Do you want to delete this order?</p>
          <p class="text-primary text-lg"> {{order.name}} | {{order.amount|intcomma}}</p>
          <p class="text-error my-4">This action cannot be reverse!</p>
          <div class="modal-action">
            <form method="dialog">
              <!-- if there is a button in form, it will close the modal -->
              <a href="{% url 'delete-order' order.id %}" class="btn btn-error m-3">Yes</a>
              <button class="btn btn-success ">No</button>
            </form>
          </div>
        </div>
    </dialog>


{% endblock %}