{% extends "layout.html" %}

{% block title %}
View Account
{% endblock title %}

{% block content %}

<div class="m-4">
    <h1 class="text-2xl font-bold mb-4">Account Details: {{account.account_holder_name}} | {{account.account_number}}</h1>
    <div class="divider"></div>

    <table>
        <tr>
            <th style="text-align: left;">Account Name</th>
            <td>{{ account.account_holder_name }}</td>
        </tr>
        <tr>
            <th style="text-align: left;">Account Number</th>
            <td>{{ account.account_number }}</td>
        </tr>
        <tr>
            <th style="text-align: left;">Account Type</th>
            <td>{{ account.account_type }}</td>
        </tr>
        <tr>
            <th style="text-align: left;">Balance</th>
            <td>{{ account.balance }}</td>
        </tr>
        <tr>
            <th style="text-align: left;">Bank Name</th>
            <td>{{ account.bank }}</td>
        </tr>
        <tr>
            <th style="text-align: left;">Created At</th>
            <td>{{ account.created_at }}</td>

        </tr>
        <tr>
            <th style="text-align: left;">Updated At</th>
            <td>{{ account.updated_at }}</td>
        </tr>
    </table>

    <div class="divider"></div>

    <h1 class="text-2xl font-bold mb-4">Orders Using Account: {{account.account_holder_name}} | {{account.account_number}}</h1>

    <div class="divider"></div>

    <div class="overflow-x-auto">
        <table class="table table-pin-cols table-zebra table-xs">
        <thead>
            <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Name</th>
            <th>Amount</th>
            <th>Commission</th>
            <th>Account Number</th>
            <th>Agent</th>
            <th>Order Type</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr onclick="window.location.href='{% url "view-order" order.pk %}'" style="cursor: pointer;">
                <td>{{ forloop.counter }}</td>
                <td>{{ order.created_at }}</td>
                <td>{{ order.name }}</td>
                <td>{{ order.amount }}</td>
                <td>{{ order.commission }}</td>
                <td>{{ order.account_number }}</td>
                <td>{{ order.agent }}</td>
                <td>{{ order.order_type }}</td>
            </tr>
            {% endfor%}
        </tbody>
        <tfoot>
            <tr>
                <th>ID</th>
                <th>Date</th>
                <th>Name</th>
                <th>Amount</th>
                <th>Commission</th>
                <th>Account Number</th>
                <th>Agent</th>
                <th>Order Type</th>
            </tr>
        </tfoot>
        </table>
    </div>
</div>
{% endblock content %}