{% load static tailwind_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en" class="scroll-smooth" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" href="{% static "img/favicon/favicon.ico" %}">
    {% tailwind_css %}
    <title>
        {% block title %}
        Home
        {% endblock title %}
    </title>
</head>
<body>

<div class="wrapper">

  <div class="navbar-box bg-base-200 drop-shadow shadow-md">
  <!-- Navbar Section -->

    <div class="navbar">
    
        <div class="flex-1 items-baseline">
            <a class="btn btn-ghost text-xl" href="{% url "index" %}">Dashboard</a>
            <a class="btn btn-ghost text-lg" href="{% url "orders" %}">Orders</a>
            <a class="btn btn-ghost text-lg" href="{% url "accounts" %}">Accounts</a>
            <a class="btn btn-ghost text-lg" href="{% url "agents" %}">Agents</a>
            <a class="btn btn-ghost text-lg" href="{% url "expense" %}">Expense</a>
        </div>
        
        <div class="dropdown dropdown-end mx-4">
            <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
                <div class="w-10 rounded-full">
                  {% if profile_picture %}
                    <img alt="agent profile" src="{{ profile_picture.url }}" />
                  {% else %}
                    <img alt="agent profile" src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
                  {% endif %}
                </div>
            </div>
            <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
                <li><a href="{% url "profile" request.user.id %}">Profile</a></li>
                <li><a>Settings</a></li>

                <form method="post" action="{% url "logout" %}">
                  {% csrf_token %}
                <li><button href={% url "logout" %}>Logout</button></li>
                </form>

            </ul>
        </div>
    </div>
</div>

  <div class="flex justify-evenly mt-20">
    {% block content %}
    <!-- Your page content will go here -->
    {% endblock content %}
  </div>

</div>


    <script src="{% static 'js/scripts.js' %}"></script>

</body>
</html>
